<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180746879110-mtlkk1kfbdbcrv51j49bcj2icp5dec23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180746879110-mtlkk1kfbdbcrv51j49bcj2icp5dec23</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180746879110-sq1muk3jekc4rjhme7tka1jrrn4v17og.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhIFpkVnfaWR1k70zBSJ70FhuVw26eQdk</string>
	<key>GCM_SENDER_ID</key>
	<string>180746879110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheflab</string>
	<key>PROJECT_ID</key>
	<string>cheflab-user</string>
	<key>STORAGE_BUCKET</key>
	<string>cheflab-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180746879110:ios:0aeb22115b955c372e5107</string>
	<key>DATABASE_URL</key>
	<string>https://cheflab-user-default-rtdb.firebaseio.com</string>
</dict>
</plist>